:root {
  --primery-text-color: #757575;
  --primery-title-color: #212121;
  --secondary-title-color: #ffffff;
  --accent-color: #2196f3;
  --primery-bg-color: #f5f4fa;
  --black: #000000;
  --secondary-bg-color: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
/* основний розмір шрифту на всякий віпадок */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* ------------HEADER----------- */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black);
}
header span,
footer span {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19cm;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-title-color);
}
.header-link:hover,
.header-link:focus,
.header-link-contact:hover,
.header-link-contact:focus {
  color: var(--accent-color);
}
.header-link-contact {
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}
/* -------------HERO---------- */
.hero {
  background-color: var(--secondary-bg-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
}
/* -------------Advantage----------- */
.advantage-title {
  font-weight: 700;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-title-color);
}
.advantage-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
/* -------------ABOUT----------- */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-title-color);
}
/* .about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-color-title--title-);
} */
/* -------------TEAM----------- */
.team {
  background-color: var(--primery-bg-color);
}
/* .team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-title-);
} */
.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-title-color);
}
.team-item-text {
  font-size: 16px;
  line-height: 1.18px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

/* ------------FOOTER------------- */
.footer {
  background-color: var(--secondary-bg-color);
}
.footer-logo {
  color: var(--secondary-title-color);
}
.contact {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-item:hover,
.footer-item:focus {
  color: var(--accent-color);
}
.address-text {
  /* font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em; */
  color: var(--secondary-title-color);
}
.footer-item {
  /* font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em; */
  color: rgba(255, 255, 255, 0.6);
}
/* ----------PORTFOLIO------------ */
.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-title-color);
  background-color: var(--primery-bg-color);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--secondary-title-color);
  background: var(--accent-color);
}
.works-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-title-color);
}
.works-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
